
#projects{
    margin: 0px;
}

/*Desktop View*/
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    #project-section{
        width: 65%;
        background-color: whitesmoke;
        margin: 1% 17% 1% 17%;
        transition: transform 0.3s ease;
        border-radius: 10px;
        height: 480px;
        padding: 0;
    }
    #project-section:hover {
        transform: scale(1.1); /* Slightly enlarge the icon when hovered */
    }
    #project-section{

    }

    #project-heading{
        margin: 0px;
        height: 5%;
    }

    #project-detail{
        display: flex;
    }
    
    #project-description{

    }

    #project-name{

    }

    #tools{
        margin: 0px;
        padding: 0px;
        text-align: left;
    }

    #tool-logo{
        margin-top: 20px;
        width: 40px;
        height: 40px;
        margin: 0 35px;
        transition: transform 0.3s ease; /* Adds smooth scaling on hover */
    }
    #tool-logo:hover {
        transform: scale(1.1); /* Slightly enlarge the icon when hovered */
    }

    #project-explained{
        padding: 0px;
        text-align: left;
    }

    #project-diagram{
        
    }
}


/* Laptop View */
@media (max-width: 1199px) and (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    header {
        width: 60%;
    }
}

/* Tablet View */
@media (max-width: 991px) and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    header {
        width: 75%;
    }
}

/* Phone View */
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    header {
        width: 90%;
    }
    .menu {
        font-size: 14px;
    }
}
