    <!------------CONTACT SECTION--------------->
    <section id="contact">
        <h2>Contact</h2>

        <section id="contact-section">

            <a href="mailto:obamelam@gmail.com" target="_blank">
            <img src="assets/images/contacts/email.png" alt="java" class="skill">
            </a>

            <a href="tel:+27671365484" target="_blank">
            <img src="assets/images/contacts/phone-call.png" alt="java" class="skill">    
            </a>

        </section>
    </section>