    <!------------EDUCATION SECTION--------------->
    <section id="education">
        <h2>Education</h2>

        <section id="education-section">
            <img src="assets/images/nwuLogo.png" alt="java" class="logo">
    
            <section id = "edu">
                <h3>BSc Honours in Computer Science</h3>
                <p>    |Current - 2026</p>
                <p>    |Major in Computer Science</p>
            

            </section>
        </section>

        <section id="education-section">
            <img src="assets/images/uwcLogo.png" alt="java" class="logo">

            <section id="edu">
                <h3>Barchelor of Computer Science</h3>
                <p>    |        Graduated in 2025</p>
                <p>    |        Major in Computer Science</p>
                <p>    |        Minor in Statistics</p>

            </section>
        </section>

    </section>