    <!------------HOME SECTION--------------->
    <section id="home">
        <h2>Home</h2>
        <section id="welcome-message">
            <p>
                Hello World, I'm Obamela M Moganedi.
            </p>
            <p>
                I am a software developer in training at North West University, currently pursuing an Honours degree in Computer Science. I work primarily with Java and C#, developing my skills in software engineering and problem-solving.
            </p>
            <h6>
            Advanced Operating Systems | Data Structures and Algorithms | Programming Languages
            </h6>
        </section>
        
        <p> 
            <a href="https://www.linkedin.com/in/obamela-moganedi-b2a573276/" target="_blank">
                <img src="assets/images/linkedin.png" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://github.com/Obamela03" target="_blank">
                <img src="assets/images/github.png" alt="GitHub" class="social-icon">
            </a>
        </p>
</section>
