<!------------PROJECTS SECTION--------------->
<section id="projects">

    <h2>My Projects</h2>

    <section id="project-section">

        <section id="project-heading">
            <h1>O-S Scheduling Algorithms</h1>
        </section>

        <section id="project-detail">
            <section id="project-description">
                
                <section id="tools">
                    <p>Made with: <img src="assets/images/skills/c-sharp.png" alt="java" id="tool-logo"></p>
                </section>

                <section id="project-explained">
                    <p>C# program that implement Scheduling algorithms. This program simulates how an Operating System schedules its process for execution. This is an interactive console program, the user is prompt for process information, in return they get the results depending on the algorithm they chose to schedule their processes.</p>
                    <a href="https://github.com/Obamela03" target="_blank">
                        <img src="assets/images/github.png" alt="GitHub" class="social-icon">
                    </a>
                </section>

            </section>

            <section id="projects-diagram">
                <img src="assets/images/projects/fcfs.png" alt="java" class="diagram">
            </section>

        </section>
    </section>

    <section id="project-section">
        <section id="project-heading">
            <h1>MINI OPERATING SYSTEM SIMULATOR</h1>
        </section>

        <section id="project-detail">
            <section id="project-description">
                
                <section id="tools">
                    <p>Made with: <img src="assets/images/skills/c-sharp.png" alt="java" id="tool-logo"></p>
                </section>

                <section id="project-explained">
                    <p>This program simulates a mini operating system in C#, implementing core process management concepts. It features scheduling algorithms like FCFS, SJF, and SRTF, along with Banker's Algorithm for safe resource allocation. The simulation emphasizes CPU dispatching, process control, and efficient execution, offering foundational insight into operating system design.</p>
                    <a href="https://github.com/Obamela03" target="_blank">
                        <img src="assets/images/github.png" alt="GitHub" class="social-icon">
                    </a>
                    
                </section>

            </section>

            <section id="projects-diagram">
                <img src="assets/images/projects/miniOS.png" alt="java" class="diagram">
            </section>

        </section>
    </section>
    
</section>