<!------------SKILLS SECTION--------------->
<section id="skills">
    <h2>Skills</h2>

    <section id="skill-section">
        <img src="assets/images/skills/java.png" alt="java" class="skill">
        <img src="assets/images/skills/python.png" alt="java" class="skill">
        <img src="assets/images/skills/c-.png" alt="java" class="skill">
        <img src="assets/images/skills/c-sharp.png" alt="java" class="skill">
        <img src="assets/images/skills/html.png" alt="java" class="skill">
        <img src="assets/images/skills/css-3.png" alt="java" class="skill">
        <img src="assets/images/skills/java-script.png" alt="java" class="skill">
        <img src="assets/images/skills/sql-server.png" alt="java" class="skill">    
    </section>

</section>